<ng-progress></ng-progress>
<section id="product__images" class="text-center">
  <h2 class="text-center d-flex justify-content-center">Product Tour</h2>

  <div class="wrapper mb-5 mt-5" style="text-align: center;">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div style="display: inline-block;">
          <p class="text-center">Product images to convince you on how the app looks like. Enjoy the product features
            and
            live a better life with ease.</p>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>

  </div>

  <div class="container ml-auto mr-auto mt-5" style="text-align: center;">
  
      <!-- start of carousel -->
      <div id="carouselIndicators" class="carousel slide" data-ride="carousel" data-interval="4000">
        <ol class="carousel-indicators mt-5">
          <li data-target="#carouselIndicators" data-slide-to="0" class="active" style="fill: red"></li>
          <li data-target="#carouselIndicators" data-slide-to="1" style="fill: red"></li>
          <li data-target="#carouselIndicators" data-slide-to="2" style="fill: red"></li>
          <li data-target="#carouselIndicators" data-slide-to="3" style="fill: red"></li>
        </ol>
        <!-- start of carousel inner -->
        <div class="carousel-inner" role="listbox">
          <!-- start of first slide -->
          <div class="carousel-item active">
            <div class="row text-center">
              <div class="col-6 col-sm-6 col-md-6">
                <div class="text-center">
                  <img src="../../assets/img/white_rectangle.png" height="600" width="300" alt="" srcset="" class="img-fluid">

                </div>
              </div>
              <div class="col-6 col-sm-6 col-md-6">
                <img src="../../assets/img/white_rectangle.png"  height="600" width="300"alt="" srcset="" class="img-fluid">
              </div>
            </div>
          </div>
          <!-- end of first slide -->
          <!-- start of second slide -->
          <div class="carousel-item">
            <div class="row">
              <div class="col-6 col-sm-6 col-md-6">
                <img src="../../assets/img/white_rectangle.png"  height="600" width="300"alt="" srcset="" class="img-fluid">
              </div>
              <div class="col-6 col-sm-6 col-md-6">
                <img src="../../assets/img/white_rectangle.png"  height="600" width="300"alt="" srcset="" class="img-fluid">
              </div>
            </div>
          </div>
          <!-- end of second slide -->
          <!-- start of third slide -->
          <div class="carousel-item">
            <div class="row">
              <div class="col-6 col-sm-6 col-md-6">
                <img src="../../assets/img/white_rectangle.png"  height="600" width="300"alt="" srcset="" class="img-fluid">
              </div>
              <div class="col-6 col-sm-6 col-md-6">
                <img src="../../assets/img/white_rectangle.png"  height="600" width="300"alt="" srcset="" class="img-fluid">
              </div>
            </div>
          </div>
          <!-- end of third slide -->
          <!-- start of fourth slide -->
          <div class="carousel-item">
            <div class="row">
              <div class="col-6 col-sm-6 col-md-6 d-flex justify-content-center">
                <img src="../../assets/img/white_rectangle.png"  height="600" width="300"alt="" srcset="" class="img-fluid">
              </div>
              <div class="col-6 col-sm-6 col-md-6">
                <img src="../../assets/img/white_rectangle.png"  height="600" width="300"alt="" srcset="" class="img-fluid">
              </div>
            </div>
          </div>
          <!-- end of fourth slide -->
        </div>
        <!-- end of carousel inner -->
        <!-- start of previous and next buttons -->
        <a href="#carouselIndicators" class="carousel-control-prev text-left" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a href="#carouselIndicators" class="carousel-control-next" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
        <!-- end of previous and next buttons -->
      </div>
      <!-- end of carousel -->
    

  </div>

  <section id="notify" class="mt-5 pt-3">
    <h2 class="text-center mt-5">Lauch coming soon!</h2>
    <p class="text-center mt-5">Sign up to get notified first</p>

      <div class="mt-5">
        <form  [formGroup]="newsletterForm" (ngSubmit)="registerData()">
          <div class="form-group text-center">
            <input type="email" class="form-control mx-auto" formControlName="email" id="inputemail" aria-describedby="emailHelp"
              placeholder="Email address">
          </div>
          <div class="text-center mt-5">
            <button type="submit" class="btn btn-primary">Notify Me</button>
          </div>
        </form>
      </div>
   

  </section>